<h2><%= @post.title %></h2>
<div style="margin-bottom: 20px; font-weight: bold;">작성 : <%= current_user.email %></div>
<%# .html_safe 메소드는 HTML 태그 작성을 허용해줍니다. %>
<%= @post.content.html_safe %>

<div style="text-align: right">
    <%= link_to "[수정]", posts_edit_path(@post.id) %>
    <%= link_to "[삭제]", posts_destroy_path(@post.id), method: "delete" %>
</div>
<hr/>
<%= link_to "돌아가기", posts_index_path %>

<hr/>

<%= render 'comments/comment_write', co: @post %>

<h3>댓글 목록</h3>
<div id="co_list">
    <% @post.comments.each do |t| %>
        <%= render 'comments/comment_list', list: t %>
    <% end %>
</div>